$white: white;
$black: black;

#map {
  width: 500px;
  height: 400px;
}
.infoWindowContent {
  font-size:  14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

header {
  position: relative;
  background: $black;
  height:70px;
  .logo {
    float: left;
    margin-top: 15px;
    margin-left: 2%;
    width: 40px;
  }

  .hamburger {
    @media(min-width: 768px) {
      display: none;
    }
    display:block;
    position: absolute;
    width: 60px;
    right: 1%;
    top: 15%;
  }

  nav {
    .desktop {
      display:none;
      @media (min-width: 768px) {
        position: absolute;
        display: inline-block;
        top: 0;
        overflow: hidden;
        width: 100%;
        color: $white;
      }
    }
  }
  nav {
    ul.mobile {
      display:inline-block;
      @media(min-width:768px) {
        display: none;
      }
      li {
        width: 100%;
        bottom:0;
        list-style: none;
        color: $white;
      }
    }
  }
}

#banner-container {
  position: relative;
  width: 100%;
  background-image: url("../img/stairs-man-person-walking.png");
  background-size: contain;
  @media(min-width:395px) {
    background-position: 40% 60%;
    background-size: cover;
    height: 600px;
  }
  background-repeat: no-repeat;
  height: 300px;
  h1 {
    position: absolute;
    color: $white;
    font-size: 1.5em;
    @media(min-width:395px) {
      font-size: 3em;
    }
    bottom: 35%;
    left: 15%;
  }
}
